{% extends "auctions/layout.html" %}

{% block body %}
  {% if item %}
  <div class="container mt-4">
    <div class="row">
      <div class="col-lg-4 order-lg-2 order-1 ">
          <div class="align-middle ">
            <img class="img-fluid" 
            src="{{ MEDIA_URL}}{{ item.item_image.url }}" alt="">
          </div>
      </div>
      <div class="col-lg-6 order-3">
        <div class="product_description">
            <div class="product_name">
              <h5>{{ item.item_name }}</h5>              
            </div>
            <div class="product-rating">
              <span class="badge badge-success"><i class="fa fa-star"></i> 4.5 Star</span> <span class="rating-review">35 Ratings & 45 Reviews</span>
            </div>
            <div>
              <span class="product_price">${{ item.item_bid }}</span> <strike class="product_discount"> <span style='color:black'>₹ 2,000<span> </strike>
            </div>
            <hr class="singleline">
            
              <div class="container jumbotron">
                <div class="row">
                  <div class="col-md-4 col-sm">
                    <p><strong>Current price:</strong></p>
                  </div>
                  <div class="col-md-4 col-sm">
                    <p><strong>${{ current_price }}</strong></p>
                  </div>
                  <div class="col-md-4 col-sm">
                    <p><strong>[{{ bids_total }} bids]</strong></p>
                  </div>
                </div>

                <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                <div class="row">
                  <div class="col-md-4 col-sm">
                  </div>
                  <div class="col-md-4 col-sm">
                    {{ bid_form.bid |safe}}
                  </div>
                  <div class="col-md-4 col-sm">
                    <button type="submit" class="btn btn-primary mb-2">Place bid</button>
                  </div>
                </div>
              </form> 
                <div class="row">
                  <div class="col-md-4 col-sm">
                  </div>
                  <div class="col-md-4 col-sm">
                    <p><small>Enter US ${{ recomended_price }} or more</small></p>
                  </div>
                  <div class="col-md-4 col-sm">
                    <button class="btn btn-success">
                      <i class="fas fa-star"></i>
                    </button> 
                  </div>
                </div>
              </div>
                     
              
          </div>
        </div>
      </div>
      <hr class="singleline">
      <div> 
        <h5>Description</h5> 
      </div>
      <div> 
        <p>{{ item.item_description }}</p>
      </div>
      <hr class="singleline">

      <div class="row border-bottom">
          <div class="col-md-6">
            <h5>Comments</h5> 
          </div>
          <div class="col-md-6">
            <a href="#" data-abc="true">
              <span class="ml-auto view-all"></span>
            </a>
          </div>
      </div>
    </div>    
  </div>
  {% else %}
      <li> Auction not found </li>
  {% endif %} 

  {% if item %}
      
    </div>
  {% else %}
      <li> No auction item </li>
  {% endif %}        
      

{% endblock %}