{% extends "auctions/layout.html" %}

{% block body %}
  <h2>Create new auction</h2>
  <form>
    <div class="form-group">
      <label for="formGroupExampleInput">Auction name</label>
      <input type="text" class="form-control" id="item_name" placeholder="Some like Iphone 12">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
      </div>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
      </div>
    </div>
    <label for="input-25">Planets and Satellites</label>
<div class="file-loading">
    <input id="input-25" name="input25[]" type="file" multiple>
</div>
<script>
$(document).ready(function() {
    var url1 = 'http://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/FullMoon2010.jpg/631px-FullMoon2010.jpg',
        url2 = 'http://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Earth_Eastern_Hemisphere.jpg/600px-Earth_Eastern_Hemisphere.jpg';
    $("#input-25").fileinput({
        initialPreview: [url1, url2],
        initialPreviewAsData: true,
        initialPreviewConfig: [
            {caption: "Moon.jpg", filename: "MoonFull.jpg", downloadUrl: url1, description: "<h5>The Moon</h5>The Moon is Earth's only natural satellite and the fifth largest moon in the solar system. The Moon's distance from Earth is about 240,000 miles (385,000 km).", size: 930321, width: "120px", key: 1},
            {caption: "Earth.jpg", filename: "EarthFull.jpg", downloadUrl: url2, description: "<h5>The Earth</h5> The Earth is the 3<sup>rd</sup> planet from the Sun and the only astronomical object known to harbor and support life. About 29.2% of Earth's surface is land and remaining 70.8% is covered with water.", size: 1218822, width: "120px", key: 2}
        ],
        deleteUrl: "/site/file-delete",
        overwriteInitial: true,
        maxFileSize: 100,
        initialCaption: "The Moon and the Earth"
    });
});
</script>
    <div class="form-group sm-6">
      <label for="category">Category select</label>
      <select class="form-control" id="category">
        <option>---------</option>
        {% for category in categoryes %}
        <option>{{ category.name }}</option>
        {% empty %}
          <li> No categoryes </li>
        {% endfor %} 
      </select>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Description</label>
      <textarea type="text" class="form-control" rows="3"
            maxlength="1200"
            id="item_description" placeholder="Another input"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  
{% endblock %}