{% extends "auctions/layout.html" %}

{% block body %}
  <h2>Create new auction</h2>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">      
      <label for="item_name">Auction name</label>
      {{ form.item_name |safe}}
    </div>
    <div class="form-group">
      <label for="item_bid">Stard bid</label>
      {{ form.item_bid |safe}}
    </div>
    <div class="input-group mb-3 w-50">
      <div class="input-group-prepend ">
        <span class="input-group-text" id="FileAddon01">Upload</span>
      </div>
      <div class="custom-file">
        {{ form.item_image |safe}}
        <label class="custom-file-label" for="item_image">Choose file</label>
      </div>
    </div>
    <div class="form-group sm-6" title="Please select category">
      <label for="item_category">Category select</label>
      {{ form.item_category |safe}}
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Description</label>
      {{ form.item_description |safe}}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  
  <script>
    bsCustomFileInput.init()

    var btn = document.getElementById('btnResetForm')
    var form = document.querySelector('form')
    btn.addEventListener('click', function () {
      form.reset()
    })
  </script>
  
{% endblock %}